body{
font-family:Arial;
margin:0;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
}

.skills-grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.skill-card{
background:#1e293b;
padding:20px;
margin:10px;
border-radius:10px;
text-align:center;
width:120px;
transition:0.3s;
}

.skill-card i{
font-size:50px;
margin-bottom:10px;
}

.skill-card:hover{
transform:scale(1.1);
background:#334155;
}

.project-card{
background:#1e293b;
padding:20px;
margin:20px;
border-radius:10px;
}

.contact form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
}

input, textarea{
margin:10px;
padding:10px;
}

button{
padding:10px;
background:#38bdf8;
border:none;
cursor:pointer;
}